{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
{{/head}}

{{$content}}
<main id="content" role="main">

  <a href="/examples/" class="example-back-link">Back to the GOV.UK prototype kit examples</a>

  <h1 class="heading-xlarge">
    Agile
    <span class="heading-secondary">How you should manage your project</span>
  </h1>
  <div class="grid-row">
    <div class="column-quarter">
      <ul>
        <li class="navcol"><a href="">Why agile?</a></li>
        <li class="navcol"><a href="">nav 2</a></li>
        <li class="navcol"><a href="">nav 3</a></li>
        <li class="navcol"><a href="">nav 4</a></li>
      </ul>
    </div>
    <div class="column-two-thirds">
      <h2 class="bold-medium">Why agile?</h2>
	  <div class="text">
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. 
        </p>
        <p>
          Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
        </p>

	     <h2 class="bold-medium">To comply with the standard you must:</h2>
        <ul class="list-number">
  		    <li>here is a bulleted list</li>
  		    <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</li>
  		    <li>vestibulum id ligula porta felis euismod semper</li>
    	  </ul>
<!--         <h2 class="bold-medium">You must:</h2>
        <div class="panel-indent">
          <ul class="list-bullet">
              <li>here is a bulleted list</li>
              <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</li>
              <li>vestibulum id ligula porta felis euismod semper</li>
              <li>integer posuere erat a ante venenatis dapibus posuere velit aliquet</li>
          </ul>
        </div> -->

        <h2 class="bold-medium">Examples of best practice</h2>
        <ul class="list-bullet">
          <li>here is a bulleted list</li>
          <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</li>
          <li>vestibulum id ligula porta felis euismod semper</li>
          <li>integer posuere erat a ante venenatis dapibus posuere velit aliquet</li>
        </ul>
        
        <h2 class="bold-medium">Further reading</h2>
        <ul class="list">
            <li>
              <h3><a href="">Related content</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
            </li>                 <li>
              <h3><a href="">Related content</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
            </li>            <li>
              <h3><a href="">Related content</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
            </li>
        </ul>        

      </div>
    </div>
    
  </div>

</main>
{{/content}}

{{/govuk_template}}

<style type="text/css">


.navcol {
  display: block;
  list-style-type: decimal;
  margin-before: 1em;
  margin-after: 1em;
  margin-start: 0px;
  margin-end: 0px;
  padding-start: 40px;
}

</style>
