{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}

{{/head}}

{{$content}}
<main id="content" role="main">

  <a href="/examples/" class="example-back-link">Back to the GOV.UK prototype kit examples</a>
  <div class="grid-row">


    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
          Topic
          <span class="heading-secondary">One liner about topic</span>
        </h1>

    <h3 class="note">Manuals style nav</h3>
    <div class="mainstream-nav">
      <div class="column-half">
        <ol class="start">
          <li class="list-number">About [topic]</li>
          <li class="list-number"><a href="">Why [topic] is important</a></li>
          <li class="list-number"><a href="">What is mandatory</a> </li>
        </ol>
      </div>
  
      <div class="column-half">
      </div>
        <ol start="3">
          <li class="list-number"><a href="">What is recommended</a></li>
          <li class="list-number"><a href="">Things to avoid</a></li>
          <li class="list-number"><a href="">Find out more</a></li>
        </ol>
      </div>
    </div>


    

    <div class="column-quarter">
      <h3 class="note">Ongoing discussion notification v1</h3>

      <div class="discussion-warning">
        There is ongoing discussion around the guidance on this topic
        <a rel="external" href="">View the discussion</a>
      </div>
      <br/>
    <h3 class="note">Up to date notification v1</h3>


      <div class="last-updated">
        Last updated:
        <h2 class="bold-medium">28 April 2015</h2>
        <span style="color:grey;">This page currently reflects the latest thinking on this subject</span>
      </div>
      
    </div>


    <div class="column-two-thirds">

      <h3 class="note">Ongoing discussion notification v2</h3>
      
      <div class="call-to-action">
          There is an ongoing discussion around the guidance on this topic
          <br/>
          <a rel="external" href="">View the discussion</a>
      </div>

    <br/>


    <h3 class="note">Brief subject description</h3>

    <p class="lede">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula edolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montnascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium qusem. Nulla consequat massa quis enim. 
    </p>
      <h2 class="bold-medium">Why agile?</h2>
	  <div class="text">
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. 
        </p>

        <br/>

        <h3 class="note">Mandatory Service assessment requirements</h3>

	      <h2 class="bold-medium">To comply with the standard you must:</h2>
        <ul class="list-number">
  		    <li>here is a bulleted list</li>
  		    <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</li>
  		    <li>vestibulum id ligula porta felis euismod semper</li>
    	  </ul>
<!--         <h2 class="bold-medium">You must:</h2>
        <div class="panel-indent">
          <ul class="list-bullet">
              <li>here is a bulleted list</li>
              <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</li>
              <li>vestibulum id ligula porta felis euismod semper</li>
              <li>integer posuere erat a ante venenatis dapibus posuere velit aliquet</li>
          </ul>
        </div> -->

        <!-- FOLD INTO TABS? -->


        <br/>
        <h3 class="note">Good examples – generic</h3>
        
        <h2 class="bold-medium">Examples of best practice</h2>
              <h4 class="heading-small">Lasting power of attorney – OPG</h4>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula  eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient  montes, nascetur ridiculus mus.</p>
              
              <details>
                <summary><span class="summary">Find out more</span></summary>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula  eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient  montes, nascetur ridiculus mus.</p>
                <span><span class="player-container player-wide" style="height: 100%; width: 100%;"><span class="video"><iframe id="yt0" frameborder="0" allowfullscreen="1" title="YouTube video player" width="100%" height="350px" src="https://www.youtube.com/embed/0XpAtr24uUQ?controls=0&amp;showinfo=0&amp;origin=https%3A%2F%2Fwww.gov.uk&amp;rel=0&amp;enablejsapi=1" role="presentation"></iframe></span><span class="ui-corner-bottom control-bar">
                </span></span></span>
                </div>
              </details>

              <h4 class="heading-small">Carer's allowance – DWP</h4>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula  eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient  montes, nascetur ridiculus mus.</p>
              
              <details>
                <summary><span class="summary">Find out more</span></summary>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula  eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient  montes, nascetur ridiculus mus.</p>
                <p>
                  <span><span class="player-container player-wide" style="height: 100%; width: 100%;"><span class="video"><iframe id="yt0" frameborder="0" allowfullscreen="1" title="YouTube video player" width="100%" height="350px" src="https://www.youtube.com/embed/0XpAtr24uUQ?controls=0&amp;showinfo=0&amp;origin=https%3A%2F%2Fwww.gov.uk&amp;rel=0&amp;enablejsapi=1" role="presentation"></iframe></span><span class="ui-corner-bottom control-bar">
                </span></span></span>
                </p>
              </details>
              <br/>


        <h3 class="note">Mandatory Service assessment requirements by stage</h3>

        <h2 class="bold-medium">The needs of the service standard at each phase</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <div class="tab-active">Alpha</div>
        <div class="tab-row-inactive">
          <div class="tab-inactive"><a href="">Beta</a></div>
          <div class="tab-inactive"><a href="">Live</a></div>
        </div>

        <ul class="">
            <li>
              <br/>
              <h4 class="bold-small">To comply with the standard you must:</h4>
              <ul class="list-bullet">
                <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</li>
                <li>vestibulum id ligula porta felis euismod semper</li>
              </ul>
              <h4 class="heading-small">You should also consider:</h4>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
            </li>

          </br>
          
          <h3 class="note">Common pitfalls/'Bad smells'</h3>

            <h3 class="bold-medium">You should try to avoid:</h4>
            <ul class="list-bullet">
              <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</li>
              <li>vestibulum id ligula porta felis euismod semper</li>
              <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</li>
              <li>vestibulum id ligula porta felis euismod semper</li>
            </ul>            
          </br>

            
 <!--            <li>
              <h3 class="heading-medium">Beta</h3>
              <h4 class="bold-small">To comply with the standard you must:</h4>
              <ul class="list-bullet">
                <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</li>
                <li>vestibulum id ligula porta felis euismod semper</li>
              </ul>
              <h4 class="heading-small">You should also consider:</h4>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
            </li>
            
            <li>
              <h3 class="heading-medium">Live</h3>
              <h4 class="bold-small">To comply with the standard you must:</h4>
              <ul class="list-bullet">
                <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</li>
                <li>vestibulum id ligula porta felis euismod semper</li>
              </ul>
              <h4 class="heading-small">You should also consider:</h4>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
            </li>            
 -->    


        <h3 class="note">Good examples by service size</h3>

        <h2 class="bold-medium">Examples of good practice</h2>
        <p>See how different sized services have approached [topic]</p>

        <div class="tab-active">Large service</div>
        <div class="tab-row-inactive">
          <div class="tab-inactive"><a href="">Medium service</a></div>
          <div class="tab-inactive"><a href="">Small service</a></div>
        </div>
        <p>        
          <br/>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
          <ul class="list-bullet">
            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</li>
            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</li>
            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</li>
          </ul>
          <span><span class="player-container player-wide" style="height: 100%; width: 100%;"><span class="video"><iframe id="yt0" frameborder="0" allowfullscreen="1" title="YouTube video player" width="100%" height="350px" src="https://www.youtube.com/embed/0XpAtr24uUQ?controls=0&amp;showinfo=0&amp;origin=https%3A%2F%2Fwww.gov.uk&amp;rel=0&amp;enablejsapi=1" role="presentation"></iframe></span><span class="ui-corner-bottom control-bar">
          </span></span></span> 
          <details>
            <summary><span class="summary">View a transcript of the video</span></summary>
            <div class="panel-indent">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
            </div>
          </details> 

        <br/>
        <br/>
        

        <h3 class="note">Feature info supported by an example</h3>


              <h2 class="bold-medium">A feature of this topic</h2>
              <h4 class="heading-small">You must:</h4>
              <ul class="list-bullet">
                <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</li>
                <li>vestibulum id ligula porta felis euismod semper</li>
              </ul>
              <h4 class="heading-small">You should also consider:</h4>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
              <details>
                <summary><span class="summary">See an example</span></summary>
                  <h4 class="heading-small">Service name – Department</h4>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula  eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient  montes, nascetur ridiculus mus.</p>
                  <img src="http://dummyimage.com/600x400/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image">                  
              </details>
        <br/>

        <h3 class="note">List of related content</h3>        

        <h2 class="bold-medium">Further reading</h2>
        <br/>
        <ul class="list-bullet">
            <li>
              <h3><a rel="external" href="">Related content</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
            </li>                 
            <li>
              <h3><a rel="external" href="">Related content</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
            </li>            
            <li>
              <h3><a rel="external" href="">Related content</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
            </li>
        </ul>        

      </div>
    </div>
    
  </div>


</main>
{{/content}}

{{/govuk_template}}

<style type="text/css">

.note {
  color:magenta;
  margin-bottom: 10px;
  margin-top: 20px;
}

.call-to-action {
/*  margin: 30px 0;
*/  background: #dee0e2 none no-repeat 98% 20px;
  padding: 10px 60px 10px 15px;
  position: relative;
}

.discussion-warning {
  border: 7.5px solid lightgrey;
  padding:10px;
  margin-bottom: 30px;
}

.tab-row-active {
    margin-top: 0em;
    display: inline-block;
}

.tab-row-inactive {
    margin-top: 0em;
    display: inline-block;
    border-bottom: 2px solid lightgrey;
}

.tab-active {
  display:inline-block;
  margin: 0;
  padding:0.5em 1em;
  width:130px;
  border-top: 2px solid lightgrey;
  border-left: 2px solid lightgrey;
  border-right: 2px solid lightgrey;
  border-bottom: 5px solid white;
  background-color: white;
  font-weight: bold;

}

.tab-inactive {
  display:inline-block;
  margin-bottom: 3px;
  margin-right: 3px;
  padding:0.5em 1em;
  width:130px;
  background-color: lightgrey;
  border-right: 2px solid white;

/*  border-bottom: 2px solid lightgrey;
*/}

.navcol {
  padding-bottom:0.5em;
  padding-top:0.5em;
  border-bottom: 1px solid lightgrey;
}

.mainstream-nav {
  padding-bottom: 30px;
  border-bottom: 1px solid lightgrey;
}


</style>

