{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
{{/head}}

{{$content}}
<main id="content" role="main">

  <a href="/examples/" class="example-back-link">Back to the GOV.UK prototype kit examples</a>

  <h1 class="heading-xlarge">
    Agile
    <span class="heading-secondary">What is agile, why do we do it?</span>
  </h1>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="bold-medium">What is agile?</h2>
	  <div class="text">
        <p>
          The Deputy Prime Minister, Nick Clegg MP, is the deputy head of government. He is the leader of the Liberal Democrats and was appointed Deputy Prime Minister when the coalition government was formed following the 2010 general election.
        </p>
        <p>
          The Deputy Prime Minister, Nick Clegg MP, is the deputy head of government. He is the leader of the Liberal Democrats and was appointed Deputy Prime Minister when the coalition government was formed following the 2010 general election.
        </p>

	  <h2 class="bold-medium">You must:</h2>
        <ul class="list-bullet">
  		    <li>here is a bulleted list</li>
  		    <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</li>
  		    <li>vestibulum id ligula porta felis euismod semper</li>
  		    <li>integer posuere erat a ante venenatis dapibus posuere velit aliquet</li>
    	  </ul>
        <h2 class="bold-medium">You must:</h2>
        <div class="panel-indent">
        <ul class="list-bullet">
            <li>here is a bulleted list</li>
            <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</li>
            <li>vestibulum id ligula porta felis euismod semper</li>
            <li>integer posuere erat a ante venenatis dapibus posuere velit aliquet</li>
        </ul>
        </div>
        <span><span class="player-container player-wide" style="height: 100%; width: 100%;"><span class="video"><iframe id="yt0" frameborder="0" allowfullscreen="1" title="YouTube video player" width="100%" height="350px" src="https://www.youtube.com/embed/0XpAtr24uUQ?controls=0&amp;showinfo=0&amp;origin=https%3A%2F%2Fwww.gov.uk&amp;rel=0&amp;enablejsapi=1" role="presentation"></iframe></span><span class="ui-corner-bottom control-bar">
       </span></span></span>
      </div>
    </div>
    
  </div>

</main>
{{/content}}

{{/govuk_template}}

<style type="text/css">

</style>
