{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">Service Manual prototypes</h1>

	<!-- feel free to change this page to suit your needs -->

	<p>A collection of very rough ideas and concepts</p>

	<h3 class="heading-medium">Prototypes</h3>

	<ul class="list-bullet">
		<li>
			<a href="/agile_full">A collection of all modules/ideas</a>
			<p>The latest list of potential content chunks, including different variations in some cases</p>
		</li>
		<li>
			<a href="/agile_1_detailed">An example of detailed guidance</a>
			<p>A concept for a highly detailed view of a particular topic</p>
		</li>		
		<li>
			<a href="/agile_1_minimal">An example of minimal guidance</a>
			<p>A concept for a stripped back view of a particular topic</p>
		</li>
	</ul>

	<h3 class="heading-medium">Other resources</h3>

	<ul class="list-bullet">
		<li>
			<a href="https://github.com/alphagov/govuk_prototype_kit/docs">
				GOV.UK kit documentation
			</a>
		</li>
		<li>
			<a href="http://govuk-elements.herokuapp.com/snippets/">
				Guide to GOV.UK elements HTML
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/service-manual">
				Service design manual
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/design-principles">
				Government Digital Service Design Principles
			</a>
		</li>
	</ul>

</main>

{{/content}}

{{/layout}}
